[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
"autopep8" = "*"
pyinstaller = "*"
twine = "*"

[packages]
cython = "==0.29"
kivy = "==1.10.1"

[requires]
python_version = "3.7"
